[build]
  command = "npm rebuild better-sqlite3 && node node_modules/nuxt/bin/nuxt.mjs generate"
  publish = ".output/public"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"